.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px;
  min-height: 100px;
  border-radius: 5px;
  width: 311px;
  background: #9dd29d;
  margin-top: 15px;
}
